html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

html,body {
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 1rem;
}

.sun {
  width: 5%;
  height: auto;
}

.moon {
  width: 5%;
  height: auto;
}

.cloud {
  width: 15%;
  height: auto;
  /* z-index: 2; */
}
.container1 {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.trees {
  width: 40%;
  height: auto;
}

.stars {
  position: absolute;
  left: 20%;
  margin-left: -20px;
  top: 10%;
  margin-top: -10px;
  z-index: 0;
  width: 80%;
  height: auto;
}

.timeofday {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  font-family: monospace;
}

.message {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white;
  font-family: monospace;
}

#clock {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: monospace;
}

/* Animations */
#cloud {
  animation: 10s cloud infinite alternate ease-in-out;
}

@keyframes cloud {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

#sun {
  animation: 20s sun infinite alternate ease-in-out;
}

@keyframes sun {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

#moon {
  animation: 10s moon infinite alternate ease-in-out;
}

@keyframes moon {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

#stars {
  animation: 10s stars infinite alternate ease-in-out;
}

@keyframes stars {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@media only screen and (min-width: 500px) {
  .timeofday {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: white;
    font-weight: bold;
    font-family: monospace;
  }

  .message {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: white;
    font-family: monospace;
  }

  #clock {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5rem;
    font-family: monospace;
  }

  /* Animations */
  #cloud {
    animation: 10s cloud infinite alternate ease-in-out;
  }

  @keyframes cloud {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #sun {
    animation: 20s sun infinite alternate ease-in-out;
  }

  @keyframes sun {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #moon {
    animation: 20s moon infinite alternate ease-in-out;
  }

  @keyframes moon {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #stars {
    animation: 10s stars infinite alternate ease-in-out;
  }

  @keyframes stars {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-80%, 0, 0);
    }
  }
}

@media only screen and (min-width: 900px) {
  .timeofday {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    color: white;
    font-weight: bold;
    font-family: monospace;
  }

  .message {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    color: white;
    font-family: monospace;
  }

  #clock {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 8rem;
    font-family: monospace;
  }

  /* Animations */
  #cloud {
    animation: 10s cloud infinite alternate ease-in-out;
  }

  @keyframes cloud {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #sun {
    animation: 20s sun infinite alternate ease-in-out;
  }

  @keyframes sun {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #moon {
    animation: 20s moon infinite alternate ease-in-out;
  }

  @keyframes moon {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #stars {
    animation: 10s stars infinite alternate ease-in-out;
  }

  @keyframes stars {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-80%, 0, 0);
    }
  }
}

@media only screen and (min-width: 1300px) {
  .timeofday {
    display: flex;
    justify-content: center;
    font-size: 10rem;
    color: white;
    font-weight: bold;
    font-family: monospace;
  }

  .message {
    display: flex;
    justify-content: center;
    font-size: 10rem;
    color: white;
    font-family: monospace;
  }

  #clock {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10rem;
    font-family: monospace;
  }

  /* Animations */
  #cloud {
    animation: 10s cloud infinite alternate ease-in-out;
  }

  @keyframes cloud {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #sun {
    animation: 20s sun infinite alternate ease-in-out;
  }

  @keyframes sun {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #moon {
    animation: 20s moon infinite alternate ease-in-out;
  }

  @keyframes moon {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(80%, 0, 0);
    }
  }

  #stars {
    animation: 10s stars infinite alternate ease-in-out;
  }

  @keyframes stars {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(50%, 0, 0);
    }
  }
}
