html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.container1 {
  display: flex;
  justify-content: center;
}

.timeofday {
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: center;
}

#clock {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 10rem;
  font-family: monospace;
}
